.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  

}
.sidenav_container{
  
 padding: 18px;
 padding-top: 60px;
}





.sidenav .closebtn {
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: 36px;
 text-decoration: none;
  font-size: 35px;
  color: #818181;
  transition: 0.3s;
      cursor: pointer;
}
.closebtn :hover{
    background-color: black;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}