.StudentListing_title{
    font-size: 25px;
    font-weight: 400;
}
.StudentListing_seprator{
    height: 20px;
    width:2px;
    background-color: black;
    margin-block: auto;
    margin-inline: 5px;
}